.item {
  display: flex;
  flex-direction: column;
  color: #00ff23;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;

  & div {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
  }

  & img {
    display: flex;

    width: 50px;
    height: 50px;
    border-radius: 30px;
  }
}

